li.item {
    cursor: pointer;
    padding: 5px;
    border-radius: 0 0 10px 5px;
    box-shadow: 6px 8px 20px -12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

li.item:hover {
    box-shadow: 6px 8px 20px -7px rgba(112, 225, 225, 0.5);
}

li.inactive {
    text-decoration: line-through;
}