.add-on-container {
    display: inline-block;
    width: 100px;
    margin: 0 10px 10px 0;
    vertical-align: top;
}

.add-on {
    width: 100px;
    height: 100px;
    border: 1px solid #000;
    background-color: #FFFDD0;
    cursor: pointer;
}

.add-on-label {
    top: 110px;
    min-height: 60px;
    height: 60px;
}

.add-on-disclaimer {
    margin-top: 10px;
    font-size: 0.8em;
}

@media only screen and (max-width: 700px) {
    .add-on-disclaimer {
        font-size: 0.9em;
        line-height: 1.1em;
    }
}

.add-on > .icon {
    margin: 20px;
    width: 60px;
}

.add-on:before,
.add-on:after {
    position: absolute;    
    text-align: center;
    line-height: 80px;
    display: inline;
    font-weight: 900;
    opacity: 0.8;
}

.add-on:before {
    border-radius: 50%;
    border: solid 5px #000;
    margin: 10px 0 0 10px;
    width: 80px;
    height: 80px;
    content: "";
}

.add-on:after {
    display: block;
    margin-top: -132px;
    margin-left: 5px;
    content: attr(data-value);
}

.add-on[data-value="0.5"]:after {
    content: "\00bd";
}

.add-on[data-value="0"]:before,
.add-on[data-value="0"]:after {
    padding-top: 5px;
    border: none;
    content: "";
}

.add-on:hover:before,
.add-on:hover:after {
    padding-top: 0px;
    color: #70E1E1;
    opacity: 0.5;
}

.add-on:hover:before {
    border: solid 5px #70E1E1;
    content: "";
    background-color: #FFF;
}

.add-on:hover:after {
    content: attr(data-next-value);
}

.add-on[data-next-value="0.5"]:hover:after {
    content: "\00bd";
}

.add-on[data-next-value="0"]:hover:before,
.add-on[data-next-value="0"]:hover:after {
    border: none;
}

@media (hover:none), (hover:on-demand) {
    .add-on:hover:before,
    .add-on:hover:after {
        color: #000;
        opacity: 1;
    }
    
    .add-on:hover:before {
        border: solid 5px #000;
        background: none;
    }
    
    .add-on[data-value="0"]:hover:before,
    .add-on[data-value="0"]:hover:after {
        padding-top: 5px;
        border: none;
        content: "";
    }
    
    .add-on[data-value="0.5"]:hover:after {
        content: "\00bd";
    }

    .add-on:hover:after {
        display: block;
        margin-top: -132px;
        margin-left: 5px;
        content: attr(data-value);
    }

    .add-on[data-next-value="0.5"]:hover:after {
        content: attr(data-value);
    }

    .add-on[data-next-value="0"]:hover:before {
        border: solid 5px #000;
    }
}