.hiyashi {
    margin: auto;
    width: 700px;
}

@media only screen and (max-width: 700px) {
    .hiyashi {
        padding: 0 20px;
    }
}

h1.title {
    text-align: center;
}

.hiyashi .category-container,
.hiyashi .servings-container,
.hiyashi .ingredients-container,
.hiyashi .recipe-container {
    margin-top: 40px;
}