.servings .label {
    font-size: 1.5em;
    font-weight: 600;
    margin-left: 10px;
}

.servings .servings-input {
    width: 90px;
    font-weight: 600;
    background-color: #FFFDD0;
    text-align: right;
}